<div class='container row'>

<div class="col s12 m6 welcome" id='left-card'>
  <div class="welcome-form">
    <%= form_tag('/calculator', :method => "get") do %>
    <h5 class="text-select">Select your State</h5>

      <div class="select state select-box" id='select-state'>
        <%= select_tag('state', options_for_select(@us_states)) %>
      </div>

          <h5 class="text-select">Zipcode</h5>
        <div class="text zipcode" id='zipcode'>
          <%= text_field_tag(:zip, nil, maxlength: 5) %>
        </div>

        <div class="row" id="kwh-info-div">
          <h5 class="text-select" id="kwh-text">Annual Kilowatt Hours</h5>
          <a class='info-link' href='#'><%= image_tag("info-button.png", id:"info_kwh", class:"info-logo", size: "30") %>
        </div>
        <div class="text avg-kwh" id='kwh-div'>
          <%= text_field_tag(:kwh) %>
        </div>

      <h5 id="text-select roof-angle">Select roof pitch</h5>
      <div class="select roof-angle select-box" id="roof-angle-div">
            <a class='info-link' href='#'><%= image_tag("info-button.png", id:"info_roof", class:"info-logo", size: "30") %>
            <%= select_tag('roof-angle', options_for_select([['33 degrees', '33'], ['10 degrees', '10'],
                                                             ['14 degrees', '14'], ['18 degrees', '18'],
                                                             ['22 degrees', '22'], ['26 degrees', '26'],
                                                             ['30 degrees', '30'], ['36 degrees', '36'],
                                                             ['40 degrees', '40'], ['42 degrees', '42'],
                                                             ['45 degrees', '45']])) %>
      </div>

      <h5 id="text-select azimuth-text">Select azimuth angle</h5>
      <div class="select azimuth-angle select-box" id="azimuth-angle-div">
            <a class='info-link' href='#'><%= image_tag("info-button.png", id:"info_azimuth", class:"info-logo", size: "30") %>
        <%= select_tag('azimuth-angle', options_for_select(@azimuth_angles)) %>
      </div>

      <h5 id="text-select system-size">Select system size</h5>
      <div class="select system-size select-box" id='system-size'>
            <a class='info-link' href='#'><%= image_tag("info-button.png", id:"info_system", class:"info-logo", size: "30") %>
        <%= select_tag('system', options_for_select(@system_capacity)) %>
      </div>

      <div class'submit-button' id='calculate'>
        <button class='btn btn-lg btn-success btn-home green lighten-2' type='button' >Calculate</button>
      </div>

    <% end %>
  </div>
</div>

<div class='col s12 m6'  id='right-card'>
  <div class='header'>
    <h4 id='result-header'>Results</h4>
  </div>
  <div class='results'>
    <h5 class='category-text'>Annual system ac output </h5>
      <div class='result-box'><strong class='fade-results' id='pv-text's></strong></div>
  </div>
  <div class='results'>
    <h5 class='category-text'>Percentage offset </h5>
      <div class='result-box'><strong class='fade-results' id='percentage-text'></strong></div>
  </div>
  <div class='results'>
    <h5 class='category-text'>Upfront cost </h5>
      <div class='result-box'><strong class='fade-results' id='upfront-cost-text'></strong></div>
  </div>
  <div class='results'>
    <h5 class='category-text'>Payoff time </h5>
      <div class='result-box'><strong class='fade-results' id='payoff-text'></strong></div>
  </div>
  <div class='results'>
    <h5 class='category-text'>With the 30% federal tax credit </h5>
      <div class='result-box'><strong class='fade-results' id='tax-credit-text'></strong></div>
  </div>
  <br>
  <div class='row' id='bar'>
    <h5 class='graph-title'><strong>Monthly AC output KWh</strong></h5>
  <div id='chart'>
  </div>
  <p class='graph-title'><strong>Months of the year</strong></p>
  <p class='graph-title'><strong>Jan - Dec</strong></p>
  </div>

</div>
  <%= render 'shared/solar_calculator_info' %>
</div>
<%= render 'shared/azimuth_help_card' %>
<%= render 'shared/kwh_help_card', :collection => @state_avg_kwh %>
<%= render 'shared/roof_help_card' %>
<%= render 'shared/system_help_card' %>
