<!DOCTYPE html>
<html>
  <head>
    <title>Wattsumsolar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'shared/nav' %>
    <%= yield %>
    <%= render partial: 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
