<!DOCTYPE html>
<html>
<head>
  <title>Wattsumsolar</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav role="navigation" class="navbar navbar-default custom-navbar">
  <div class="nav-container">

    <div class="navbar-header pull-left">
      <a class="logo-link" href="/"><%= image_tag("nav-logo.png", id:"nav-logo_img", class:"logo-img") %>
    </div>

  </div>
</nav>

<%= yield %>
<div class='container footer'>
<div class="row">
  <div class="col-xs-12 text-center lo-footer">
    <p class="footer-text">Wattsumsolar®<span class="footer-text-bold"> is a registered trademark by Alliance for Sustainable Energy, LLC in Golden, CO, 80401span</span></p>
    <br>
    <br>
  </div>
</div>
</div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
